.menu, .menu > button{
color: var(--white) !important;
background-color: var(--main-color)!important;
line-height: 3em;
width: 50vh;
border: none;
}

.menubutton{
    background-color: var(--white) !important;
}

.menubutton svg {
    color: var(--second-color);
    font-size: 2em;
  }
