.menu, .menu > button{
color: var(--white) !important;
background-color: var(--main-color)!important;
line-height: 3em;
width: 50vh;
border: none;
z-index: 100;


}

.menu > button:hover{
  text-decoration: underline;
}

.menu > button:active{
  background-color: var(--second-color)!important;
}



.menubutton{
    background-color: var(--white) !important;
}

.menubutton svg {
    color: var(--second-color);
    font-size: 2em;
  }

  .fixright {
    z-index: 100;
  }