:root {
  --main-color: #448FFF;
  --second-color:#B2D1FF;
  --white:#fff;
  --lightgrey:#D9D9D9;
  --h2-size:2em;
  --h4-size:0.75em;
  --p-size:1em;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--main-color);
}

::selection {
  color: white;
  background: var(--main-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h2{
  font-weight: 500 !important;
  font-size: var(--h2-size) !important;
  color:var(--main-color);
}

h4{
  font-size: var(--h4-size) !important;
  color:var(--lightgrey);}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.navbar h2 {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: 600;
}

.fixright{
  position: fixed;
  right: 0px;
  z-index: 10;}

.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.addButton >button{
  color: white;
  background-color: var(--main-color);
}

.addButton >button:hover{
  color: white;
  background-color: var(--second-color);
}

.addButton >button:active{
  color: white;
  background-color: var(--main-color);
}
.addText{
  color:var(--main-color); 
}

.symptomcard{
  border: 3px solid var(--second-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px;
  margin-bottom: 20px;
}

.symptomcard h2 {
  font-weight: 500;
  font-size:  var(--h2-size);
  color:var(--main-color);
}

.linkbutton{
  color: white;
}

.rightleft{
  align-self: flex-end;
}

.m10{
  margin: 1em;
}

.text-center{
  text-align: center;
}

.detailsCard{
  border: 3px solid var(--second-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 10px 20px;
  margin-bottom: 20px;
}

.linkbutton{
  text-align: center;
}

.linkbutton button{
  padding: 0px 30px;
  border-radius: 20px;
}

.schedulecard{
  border: 3px solid var(--second-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px;
  margin-bottom: 20px;
}

.petbutton button{
  width: 100%;
  border: 3px solid var(--second-color);
  background-color: #fff;
  padding: 30px 10px;
  color: var(--main-color);
}

.loading{
  display: flex;
  justify-content: center;
}

.loading div{
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 1em;
  margin:5px;
}

/* Loading part */
.loadcat{
  text-align: center;
  width: 20%;
  max-width: 200px;
  margin: auto;
}

.cat {
  position: relative;
  width: 100%;
  max-width: 20em;
  overflow: hidden;
}
.cat::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cat__body, .cat__tail, .cat__head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: rotating 1s infinite;
          animation: rotating 1s infinite;
}
.cat__body::before, .cat__tail::before, .cat__head::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-image: url("../public/load.png");
}

.cat__head::before {
  top: 0;
  right: 0;
  background-position: 100% 0%;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
}

.cat__tail {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.cat__tail::before {
  left: 0;
  bottom: 0;
  background-position: 0% 100%;
  transform-origin: 100% 0%;
  transform: rotate(0deg);
}

.cat__body {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.cat__body:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.cat__body::before {
  right: 0;
  bottom: 0;
  background-position: 100% 100%;
  transform-origin: 0% 0%;
  transform: rotate(10deg);
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(1turn);
  }
  100%{
    transform: rotate(0turn);
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
